# Python Crash Course Review - Variables and Simple Data Types

In this notebook, we'll learn about variables and simple data types in Python.

## Variables


A variable is a name that refers to a value. In Python, you can create a variable by assigning a value to a variable using the `=` operator. For example:

In [ ]:
x = 10
y = 20

You can use the `print()` function to print the value of a variable:

In [ ]:
print(x) # 10
print(y) # 20

You can use the `type()` function to get the data type of a value:

In [ ]:
print(type(x)) # <class 'int'>
print(type(y)) # <class 'int'>

## Simple Data Types

In Python, there are several simple data types, including integers (`int`), floating-point numbers (`float`), and strings (`str`).

### Integers

An integer is a whole number. You can create an integer by assigning a whole number to a variable:

In [ ]:
x = 10
y = -20

You can use the `+`, `-`, `*`, and `/` operators to perform arithmetic operations on integers:

In [ ]:
print(x + y) # -10
print(x - y) # 30
print(x * y) # -200
print(x / y) # -0.5

You can use the `//` operator to perform integer division, which returns the quotient as an integer:

In [ ]:
print(x // y) # -1

You can use the `%` operator to get the remainder of an integer division:

In [ ]:
print(x % y) # 10

You can use the `**` operator to raise a number to a power:

In [ ]:
print(x ** 2) # 100

### Floating-Point Numbers

A floating-point number is a number with a decimal point. You can create a floating-point number by assigning a number with a decimal point to a variable:

In [ ]:
x = 10.5
y = -20.7

You can use the `+`, `-`, `*`, and `/` operators to perform arithmetic operations on floating-point numbers:

In [ ]:
print(x + y) # -10.2
print(x - y) # 31.2
print(x * y) # -215.35
print(x / y) # -0.5070512820512821

You can use the `**` operator to raise a number to a power:

In [ ]:
print(x ** 2) # 110.25

### Strings

A string is a sequence of characters. You can create a string by enclosing a sequence of characters in quotes:

In [ ]:
x = 'Hello'
y = "World"

You can use the `+` operator to concatenate strings:

In [ ]:
print(x + ' ' + y) # Hello World

You can use the `len()` function to get the length of a string:

In [ ]:
print(len(x)) # 5

You can use the `.lower()` and `.upper()` methods to convert a string to lowercase or uppercase, respectively:

In [ ]:
print(x.lower()) # hello
print(y.upper()) # WORLD

You can use the `.title()` method to capitalize a string:

In [ ]:
print("heLLo worlD".title())

You can use the `.strip()` method to remove leading and trailing whitespace from a string:

In [ ]:
x = '  Hello   '
print(x.strip()) # Hello

You can use the `.replace()` method to replace a sub-string with another string:

In [ ]:
print(x.replace('H', 'h')) #   hello

You can use the `.split()` method to split a string into a list of sub-strings based on a delimiter:

In [ ]:
x = 'Hello, World'
print(x.split(',')) # ['Hello', ' World']

You can use the `join()` method to join a list of strings into a single string:

In [ ]:
x = ['Hello', 'World']
print(', '.join(x)) # Hello, World

You can use f-strings to include variables in a string (Python 3.6 and above):

In [ ]:
x = 10
y = 20
print(f'x = {x}, y = {y}') # x = 10, y = 20

## Problem:

Write a program that prompts the user for their first and last name, their age, and their height in meters. Then, print a message that says "Hello, [FIRST NAME] [LAST NAME]! You are [age] years old and your height is [height] meters. That means you are [height in feet] feet tall." The first and last name should be capitalized.

To solve this problem, you will need to use the following concepts:

- Variables
- Data types
- String formatting
- String methods (capitalization)
- Arithmetic operations (floating-point division)

**Complete the following code**

In [ ]:
# First, prompt the user for their first and last name, their age, and their height in meters:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
age = input("Enter your age: ")
height = input("Enter your height in meters: ")

# Next, calculate the height in feet:
height_in_feet = 

# Capitalize the first and last name:
first_name = 
last_name = 

# Finally, print the message:
print()

```Hello, [FIRST NAME] [LAST NAME]! You are [age] years old and your height is [height] meters. That means you are [height in feet] feet tall.```

# Python Crash Course Review - Lists

In this notebook, we'll learn about lists and how to create and manipulate them.

## Creating Lists

In Python, you can create a list by enclosing a comma-separated sequence of values in square brackets. For example:

In [ ]:
my_list = [1, 2, 3, 4, 5]

You can use the `len()` function to get the length of a list:

In [ ]:
print(len(my_list)) # 5

You can also use slicing to get a sublist of a list. For example:

In [ ]:
print(my_list[1:3]) # [2, 3]
print(my_list[:3])  # [1, 2, 3]
print(my_list[3:])  # [4, 5]

## Modifying Lists
You can modify lists by assigning to individual elements or slices. For example:

In [ ]:
my_list[0] = 100
my_list[1:3] = [200, 300]
print(my_list) # [100, 200, 300, 4, 5]

You can use the `+` operator to concatenate lists, and the `*` operator to repeat a list:

In [ ]:
print([1, 2] + [3, 4])  # [1, 2, 3, 4]
print([1, 2] * 3)       # [1, 2, 1, 2, 1, 2]

You can also use the `.append()` method to add an element to the end of a list:

In [ ]:
my_list.append(6)
print(my_list) # [100, 200, 300, 4, 5, 6]

You can use the `.insert()` method to insert an element at a specific position in the list:

In [ ]:
my_list.insert(2, 250)
print(my_list) # [100, 200, 250, 300, 4, 5, 6]

You can use the `.extend()` method to add multiple elements to the end of a list:

In [ ]:
my_list.extend([7, 8, 9])
print(my_list) # [100, 200, 250, 300, 4, 5, 6, 7, 8, 9]

You can use the `.remove()` method to remove an element from a list:

In [ ]:
my_list.remove(300)
print(my_list) # [100, 200, 250, 4, 5, 6, 8, 7, 9]

You can use the `.pop()` method to remove an element from the end of a list:

In [ ]:
last_element = my_list.pop()
print(last_element) # 9
print(my_list)      # [100, 200, 250, 300, 4, 5, 6, 7]

You can also use the `.pop()` method to remove an element from a specific position in the list:

In [ ]:
second_element = my_list.pop(1)
print(second_element) # 200
print(my_list)        # [100, 250, 300, 4, 5, 6, 7]

## Sorting Lists
You can use the `.sort()` method to sort a list in ascending order. For example:

In [ ]:
my_list = [5, 3, 1, 4, 2]
my_list.sort()
print(my_list) # [1, 2, 3, 4, 5]

You can pass the `reverse=True` argument to the `.sort()` method to sort a list in descending order. For example:

In [ ]:
my_list.sort(reverse=True)
print(my_list) # [5, 4, 3, 2, 1]

You can use the `sorted()` function to return a sorted copy of a list without modifying the original list. For example:

In [ ]:
my_list = [5, 3, 1, 4, 2]
sorted_list = sorted(my_list)
print(my_list) # [5, 3, 1, 4, 2]
print(sorted_list) # [1, 2, 3, 4, 5]

# Python Crash Course Review - Working with Lists

In [ ]:
x = ['a', 'b', 'c', 'd', 'e']

# Loop through an entire list
for item in x:
    print(item)
    
# Output:
# a
# b
# c
# d
# e

In [ ]:
# Create a sequence of numbers
for i in range(5):
    print(i)

# Output:
# 0
# 1
# 2
# 3
# 4

In [ ]:
# Specify a start, stop, and step
for i in range(2, 7, 2):
    print(i)

# Output:
# 2
# 4
# 6

In [ ]:
# Loop through a list and get the index and value at each iteration
for i, item in enumerate(x):
    print(i, item)

# Output:
# 0 a
# 1 b
# 2 c
# 3 d
# 4 e

In [ ]:
# Work with part of a list
for item in x[2:4]:
    print(item)

# Output:
# c
# d

In [ ]:
# Create a new list from an existing list using list comprehension
x = [1, 2, 3, 4, 5]
y = [item**2 for item in x]
print(y)
# Output:
# [1, 4, 9, 16, 25]

In [ ]:
# Create a list of numbers
x = list(range(1, 6))

In [ ]:
# Calculate simple statistics
x = [1, 2, 3, 4, 5]
print(min(x)) # 1
print(max(x)) # 5
print(sum(x)) # 15

In [ ]:
# A tuple is an immutable sequence type. You can create a tuple by enclosing a comma-separated sequence of items in parentheses:
x = (1, 2, 3, 4, 5)
print(x)

In [ ]:
# You can access the items of a tuple using their indices:
print(x[0]) # 1

In [ ]:
# You can use the `len()` function to get the length of a tuple:
print(len(x)) # 5

In [ ]:
# Loop through a tuple
for item in x:
    print(item)

# Output:
# 1
# 2
# 3
# 4
# 5

In [ ]:
# You reassign the value of tuple
x = (5, 4, 3, 2, 1)
print(x)

## Problem
Write a program that uses the following list of fruits:
```
fruits = ['apple', 'banana', 'cherry', 'pineapple', 'strawberry', 'orange']

```

The program should print out the following:

- The total number of fruits in the list
- The first and last fruits in the list
- The second and second-to-last fruits in the list
- A list of all the fruits in reverse order
- All the fruits in uppercase


The output should be:
```
Number of fruits: 6
First fruit: apple
Last fruit: orange
Second fruit: banana
Second-to-last fruit: strawberry
Reverse order: ['orange', 'strawberry', 'pineapple', 'cherry', 'banana', 'apple']
Uppercase:
APPLE
BANANA
CHERRY
PINEAPPLE
STRAWBERRY
ORANGE
```